---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {

    html,
    html[data-theme="dark"] {
        --main-background-color: hsl(0, 0%, 7%);
        --main-text-color: hsl(0, 0%, 100%);
    }

    html[data-theme="light"] {
        --main-background-color: hsl(0, 0%, 100%);
        --main-text-color: hsl(0, 0%, 0%);
    }
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}